* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

button {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    font-size:x-large;
    cursor: pointer;
}

.buttons {
    display: flex;
}

.nums-cl-rsl {
    display: flex;
    flex-wrap: wrap;
    width: 225px;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    
}
.operator-buttons button {
    background-color: rgb(65, 65, 112);
    color: aliceblue;
}

.clear-button {
    background-color: darkred;
    color: aliceblue;
}

.result-button {
    background-color: rgb(255, 249, 165);
}

.display-screen {
    width: 299px;
    height: 60px;
    background-color: rgba(0, 114, 51, 0.808);
    border-radius: 5px;
}

.display-text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6.5vh;
    font-size: 32px;
    color: aliceblue;
}

.align {
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: rgb(192, 192, 192);
}

.error {
    font-size: large;
}
